html {
  scroll-behavior: smooth;
  behavior: slow;
}

.login-page {
  // height: 100vh;
  // width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 5;
}

.login-container-prompt {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 5;
}

.register-container-prompt {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 5;
}

/////////////////////////////////////

$color: #4d61b9;
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

/***************************************************************************** login */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
}

.App,
.login-page {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  background-position-y: 10vh;
  background-position-x: 10vw;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  position: fixed;
  margin: auto;
}
.login-form-title {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

.x {
  position: absolute;
  margin-top: 2%;
  font-size: "large";
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  text-align: center;
  align-items: center;
  justify-content: center;
  &:hover {
    background: linear-gradient(to bottom, #e8edec, #e7e7e7);
    transform: scale(1.1);
    color: black;
  }
}

.register {
  margin-right: 2%;
  right: 0;
}
.login {
  margin-left: 2%;
}

.login-form-paragraph {
  font-size: 0.875rem;
  font-weight: 100;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  margin: 1.25rem 0 1.875rem;
}

.login-form-span {
  font-size: 0.75rem;
  align-self: flex-start;
  margin: 0.5rem 0px 0.625rem 0px;
}

.login-form-a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 0.938rem 0;
  cursor: pointer;
}
.login-img {
  // content: url(C:\Users\yone5\Desktop\Cyber4s\carBnB\client\src\logo-white.png);
  height: 8rem;
  width: auto;
  margin-top: -3rem;
  margin-bottom: 2rem;
}

.login-form-button {
  border-radius: 20px;
  border: 1px solid #4d61b9;
  background-color: #4d61b9;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75rem 2.813rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

.login-form-button:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.login-form-button:focus {
  outline: none;
}

.login-form-button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 3.125rem;
  height: 100%;
  text-align: center;
}
.password-and-validation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form-password,
.login-form-validation {
  background-color: #eee;
  border: none;
  padding: 0.75rem 0.938rem;
  margin: 0.5rem 0;
  width: 48%;
}
.login-form-input {
  background-color: #eee;
  border: none;
  padding: 0.75rem 0.938rem;
  margin: 0.5rem 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 51.25rem;
  max-width: 100%;
  min-height: 32.5rem;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
  animation: show 0.6s;
}

@-webkit-keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.overlay {
  /* background: linear-gradient(to right, #3451d1, #9c98dd); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 2.5rem;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay-left {
  background: linear-gradient(to left, #203799, #7571bd);
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.overlay-right {
  background: linear-gradient(to right, #203799, #7571bd);
  right: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  -webkit-transform: translateX(20%);
  transform: translateX(20%);
}

.social-container {
  margin: 1.25rem 0;
}

.social-container a,
.social-container div,
.facebook-button {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 5px;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
}
@media screen and (max-width: 840px) {
  .login-img {
    // width: 2rem;
    // height: auto;
    // overflow: visible;
    display: none;
    // content: url(C:/dev/carBnB/client/src/carBnB-logo.png);
    // position: absolute;
    // margin-left: -80vw;
    // margin-bottom: 60vh;
    // z-index: 9999 !important;
  }
  form {
    padding: 0 0.5rem;
  }
  .container {
    max-width: 80vw;
    height: 95vh;
  }
  .sign-in-container {
    width: 60%;
  }
  .overlay-right {
    width: 40%;
  }
  // .right-panel-active > .sign-up-container {
  //   width: 70%;
  // }
  // .right-panel-active > .sign-in-container,
  // .right-panel-active > .overlay-right {
  //   display: none;
  // }
  // .right-panel-active > .overlay-container {
  //   width: 30%;
  // }
  // .right-panel-active > .overlay-right {
  //   width: 70%;
  // }
  // .overlay-container {
  //   left: 30%;
  // }
  #signUp,
  #signIn {
    padding: 0.75rem;
  }

  .welcome {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .password-and-validation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .login-form-password,
  .login-form-validation {
    width: 100%;
  }
  .login-form-validation {
    padding-right: 0rem;
  }
}
@media screen and (max-width: 400px) {
  .login-form-button {
    padding: 0.75rem 1.4rem;
  }
  .login-form-title {
    font-size: 1.8em;
  }
}

// ***********************************************************navbar

.navlink {
  top: 10px;
  text-align: center;
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 12px 16px;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  // background-color: rgba(255, 255, 255, 0.3);
  // box-shadow: 1px 1px rgb(80, 77, 77);
  border-radius: 1em;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

#navbar-logo {
  position: fixed;
  left: 10px;
}
.Avatar {
  top: 20px;
  // background-color: rgba(255, 255, 255, 0.3);
  // box-shadow: 1px 1px rgb(80, 77, 77);
  position: fixed;
  right: 20px;

  .MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #1d1d1d;
  }
}

.messages {
  text-shadow: 10px 5px rgba(230, 8, 130, 0.1);
  top: 25px;
  position: fixed;
  right: 100px;
}
.login-btn {
  top: 25px;
  position: fixed;
  right: 90px;
}
.add-car-btn {
  text-shadow: 2.5px 5px 2px 2px rgba(230, 8, 130, 0.1);
  top: 25px;
  position: fixed;
  right: 160px;
}

//   .navlink {
//     text-align: center;
//     list-style: none;
//     text-decoration: none;
//     color: black;
//     font-weight: bold;
//     text-align: center;
//     padding: 12px 16px;
//     margin: 8px 8px;
//     position: relative;
//     white-space: nowrap;
//     cursor: pointer;
//     &:hover {
//       border-radius: 1em;
//       background-color: rgba(0, 0, 0, 0.1);
//     }
//   }
// }

// @media screen and (max-width: 600px) {
//   .menu-bar {
//     position: fixed;
//     min-height: 100vh;
//     min-width: fit-content;
//     display: grid;
//     grid-template-rows: auto auto auto auto auto auto;
//     grid-template-columns: 50px;
//     flex-direction: column;
//     align-items: center;
//   }
// }
//*************************************end of navbar

//************************************* search bar

.separator {
  align-self: center !important;
  border-right: 1.5px solid #c2c2c2 !important;
  flex: 0 0 0px !important;
  height: 32px !important;
}

.search-nav {
  display: flex;
  flex-direction: column;
  /*   flex: 1.5 0 0%; */
  min-width: 100%;
}

/* Search form */
.search {
  display: flex;
  flex-flow: row;
  // flex-wrap: nowrap;
  // justify-content: space-evenly;
  background: white;
  /*   height: 50px; */
  border-radius: 50px;
  // overflow: hidden;
}
.inputs {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 95%;
}

.search .label {
  display: inline-block;
  font-size: 0.75rem;
  color: #111111;
  font-weight: bold;
}

.search-inputs label {
  display: inline-block;
  max-width: fit-content;
}
.search-inputs {
  /*   flex: 1 0 auto; */
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  width: 33.333333%;
}

.search-inputs input {
  border: none;
  display: block;
}
.search-inputs:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  border-radius: 3em;
  &.search-inputs input {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    border-radius: 3em;
  }
  & .DateInput {
    background-color: rgb(236, 236, 236);
  }
  & .DateRangePickerInput_arrow {
    background-color: rgb(236, 236, 236);
  }
  & .DateRangePickerInput {
    background-color: rgb(236, 236, 236);
  }
}

.search-button {
  display: flex;
  align-items: center;
  float: right;
  // margin-right: -2%;
  cursor: pointer;
}

.search-button button {
  font-size: 16px;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  border: none;
  background: rgb(79, 90, 192);
  color: white;
  cursor: pointer;
}
//************************************* end search bar

///////////////////////////////////start of results + filter////////////////////
.results-section {
  margin-top: 10vh;
  width: 100%;
  padding-left: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.car-details {
  float: left;
  width: 40%;
  // margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.7em;
  text-align: center;
  background-color: #f1f1f1;
}
.results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

/* Responsive columns */

.results-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.filter-bar {
  padding: 100px 20px;
  width: 30%;
  border-right: 3px rgb(7, 5, 146) solid;
}
#price-slider,
#rating-slider,
#years-slider {
  max-width: 100%;
}
@media screen and (max-width: 700px) {
  .results {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .car-details {
    width: 80%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 600px) {
  .filter-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
  }
}
@media screen and (max-width: 600px) {
  .results-page {
    flex-direction: column;
  }
  .filter-bar {
    padding: 100px 0 0 0;
    width: 100vw;
    border-bottom: 3px #070592 solid;
    border-right: none;
    text-align: center;
  }
  .results-section {
    margin-top: 2vh;
  }

  .select,
  .slider {
    max-width: 45%;
    display: inline-block;
    margin: 0 1.25%;
  }
}

///////////////////////////////////////////////////////

.MuiPaper-root {
  position: absolute;
  margin-top: 2.2%;
}

.menu-drop-down {
  color: black;
  text-decoration: none;
}

//////////////////////////////////start orders+rentals page////////////////////////////
.order-details-container {
  margin-left: 15px;
}

.ul-orders {
  margin-top: 50px;
  li {
    margin: 15px;
  }
}

.land-section {
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  a {
    text-decoration: none;
    &:active {
      color: #551a8b;
    }
  }
  .intro-img {
    top: 0;
  }

  h1 {
    display: flex;
    font-size: 50px;
    width: 55%;
    margin-left: 8%;
    margin-top: 3%;
  }
  span {
    font-size: 35px;
    display: flex;
    margin-top: 10%;
    width: fit-content;
    height: 50vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: -2%;
    margin-left: 8%;
    a {
      color: whitesmoke;
      padding: 20px;
      border-radius: 5em;
      background-color: rgb(81, 145, 241);
      display: flex;
      box-shadow: black 2px 2px 2px;
      &:active {
        color: black;
        box-shadow: black 0.5px 0.5px;
      }
    }
  }
}

.search-section {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-size: 70vh;
  // background-image: url("C:/dev/carBnB/client/src/photos/good-logo-white.png");
  background-image: url("C:/Users/zimer/OneDrive/Documents/Cyber4s Projects/carBnB/client/src/photos/good-logo-white.png");
  // background-image: url(C:\Users\yone5\Desktop\Cyber4s\carBnB\client\src\photos\good-logo-white.png);
  background-repeat: no-repeat;
  background-position-y: 10vh;
  background-position-x: 4vw;

  .top-navigation {
    display: flex;
    width: 60%;
    margin-top: 200px;
    justify-content: space-evenly;
    color: white;
    box-shadow: 0px 0px 22px -1px #000000;
    border-radius: 5em;
    & input {
      outline: none;
    }
  }
}

.top-pick-section {
  height: 100vh;
  display: flex;
  flex-direction: column;

  h2 {
    display: inline-flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 70px;
    height: fit-content;
    font-size: 32px;
  }
  .top-picks-container {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
  }

  .top-pick {
    cursor: pointer;
    h4 {
      font-size: 15px;
      margin-bottom: 0px;
    }
    p {
      font-size: 13px;
      opacity: 0.7;
    }
    img {
      height: 20vh;
      width: auto;
      border-radius: 0.5em;
      // display: inline-block;
    }
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  hr {
    width: 100%;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  i {
    font-size: x-large;
  }
  .copyright {
    font-size: large;
  }
}
.upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  li {
    list-style: none;
    line-height: 30px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}

.profile-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 60vh;
  margin-bottom: 13%;
  box-shadow: 0px 0px 22px -1px #000000;
  border-radius: 1em;
  background-color: rgba(255, 245, 245, 0.432);
  hr {
    margin: 0;
  }
  ul {
    width: 100%;
    padding-left: 15px;
  }
  li {
    display: flex;
    flex-direction: row;
    line-height: 40px;
    list-style: none;
    width: 100%;
    padding-left: 5px;
    align-items: center;
    justify-content: space-between;
    &:hover {
      border-radius: 1em;
      background-color: rgba(0, 0, 0, 0.1);
    }
    .pencil-profile {
      display: flex;
      // float: right;
      position: relative;
      right: 0;
      color: #0065fc;
      cursor: pointer;
    }
  }
}
.profile-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.details-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 9%;
}
.profile-left {
  display: flex;
  text-align: left;
  width: 45%;
  li {
    cursor: pointer;
  }
}
.profile-right {
  width: 100%;
  li {
    width: 70%;
  }
  .add-new {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
    color: #0065fc;
    cursor: pointer;
  }
}
.rating-panel-profile {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  // margin-left: auto;
  align-self: center;
  span {
    width: fit-content;
  }
}
.fa-star {
  // color: rgb(83, 83, 83);
  color: rgb(240, 240, 80);
  fill: currentColor;
}
.tool-tip-text {
  visibility: hidden;
  width: 230px;
  background-color: rgb(208, 238, 247);
  border: 1px solid black;
  color: black;
  text-align: flex-start;
  border-radius: 1em;
  // max-height: max-content;
  height: 150px;
  word-wrap: break-word;
  overflow-y: auto;

  /* Position the tooltip */
  position: absolute;
  display: flex;
  right: -5px;
  top: 20px;

  z-index: 1;
}
.tool-tip-text.true {
  visibility: visible;
}

//////////////////////////////////Credit Card ///////////////////////////
.credit-card-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .credit-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: max-content;
    width: max-content;
    border: 2px solid black;
    border-radius: 20px;
    padding: 100px;
    box-shadow: 6px 6px 5px 2px gray;
    .credit-card {
      margin-bottom: 200px;
      text-align: left;
      form {
        align-items: flex-start;
        display: flex;

        input {
          width: auto;
        }
      }
    }
  }
}

//////////////////////////////////Credit Card ///////////////////////////
