.CalendarDay__selected_span {
  background: #c9cecb;
  color: white;
  border: none;
}

.CalendarDay__selected {
  background: rgb(79, 90, 192);
  color: white;
}

.CalendarDay__selected:hover {
  background: rgb(51, 59, 134);
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: rgb(229, 230, 231);
  color: black;
  border: none;
}

.CalendarDay__default {
  border-radius: 1em;
  border: none;
}
.DayPicker_transitionContainer {
  /* position: fixed; */
}

.DateRangePickerInput {
  border: none;
  width: 100%;
}

.DateRangePickerInput_arrow_svg {
  display: none;
}
.CalendarDay__default:hover {
  border: none;
  color: white;
}

.DateInput_input__focused:hover {
  border-radius: 1em;
  background-color: rgb(236, 236, 236);
}
.DateInput_input__focused {
  box-shadow: 0px 4px 8px 0px black;
  border-radius: 1em;
}
.DateInput:hover {
  background-color: rgb(236, 236, 236);
}

.DayPickerKeyboardShortcuts_show__bottomRight {
  display: none;
}

.CalendarDay__selected_span:hover {
  background: rgb(147, 153, 156);
}
